#!/usr/bin/env bash

export JAVA_HOME="/usr/lib/jvm/java-8-openjdk-amd64"
export HADOOP_CONF_DIR="{{ hadoop_root }}/etc/hadoop"
# export SPARK_WORKER_PORT=" spark_worker_port "

# The following line is intentionally left blank
